
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/cb7cf38d2f.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script>
            const tooltips = document.querySelectorAll('.tt')
            tooltips.forEach(t => {
                new bootstrap.Tooltip(t)
            })
    </script>
    <link rel="stylesheet" href="css/item.css">

    <title>Auction</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Auction center</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Bid/Buy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

//art
    <div class="container">
        <!-- Button trigger modal -->
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
            View details
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="exampleModalLabel">Georgian Eye Art</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="card flex-row"><img class="card-img-left example-card-img-responsive" width="50%" src="./images/art.webp" />
                            <div class="card-body">
                                <div card text>
                                    <p>Colourful piece of art.The painting celebrates and commemorates love at a time when Georgian courtship was difficult, which limited public romantic gestures</p>
                                    <p>Seller: Artsy</p>
                                    <p>Price: Kshs 4000</p>
                                    <p>12 bids</p>
                                    <div class="quantity">
                                        Quantity: <input type="number" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="">
                                    </div>
                                    <br><br>
                                    <button type="button" class="btn ">Place bid</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn " data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

//car
    <div class="container">
        <!-- Button trigger modal -->
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#carModal">
            View details
        </button>

        <!-- Modal -->
        <div class="modal fade" id="carModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="exampleModalLabel">Car</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="card flex-row"><img class="card-img-left example-card-img-responsive" width="50%" src="./images/car1.webp" />
                            <div class="card-body">
                                <div card text>
                                    <p>Red BMW 2016 . It has a milage of 100,000km .</p>
                                    <p>Seller: MeCar</p>
                                    <p>Price: 1.2M</p>
                                    <p>6 bids</p>
                                    <div class="quantity">
                                        Quantity: <input type="number" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="">
                                    </div>
                                    <br><br>
                                    <button type="button" class="btn ">Place bid</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn " data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

//couch
    <div class="container">
        <!-- Button trigger modal -->
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#couchModal">
            View details
        </button>

        <!-- Modal -->
        <div class="modal fade" id="couchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="exampleModalLabel">Couch</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="card flex-row"><img class="card-img-left example-card-img-responsive" width="50%" src="../images/couch.jpg" />
                            <div class="card-body">
                                <div card text>
                                    <p>Grey sofa with solid Fabric and is entirely in one color. This design consists of grey textured fabric.</p>
                                    <p>Seller: ABC furnitures</p>
                                    <p>Price: Kshs 300</p>
                                    <p>13 bids</p>
                                    <div class="quantity">
                                        Quantity: <input type="number" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="">
                                    </div>
                                    <br><br>
                                    <button type="button" class="btn ">Place bid</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn " data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

//diamond
    <div class="container">
        <!-- Button trigger modal -->
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#diamondModal">
            View details
        </button>

        <!-- Modal -->
        <div class="modal fade" id="diamondModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="exampleModalLabel">Diamond ring</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="card flex-row"><img class="card-img-left example-card-img-responsive" width="50%" src="./images/diam2.jpg" />
                            <div class="card-body">
                                <div card text>
                                    <p>Diamond ring 10 carats</p>
                                    <p>Seller: ABC furnitures</p>
                                    <p>Price: Kshs 300</p>
                                    <p>13 bids</p>
                                    <div class="quantity">
                                        Quantity: <input type="number" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="">
                                    </div>
                                    <br><br>
                                    <button type="button" class="btn ">Place bid</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn " data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

//house
    <div class="container">
        <!-- Button trigger modal -->
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#houseModal">
            View details
        </button>

        <!-- Modal -->
        <div class="modal fade" id="houseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="exampleModalLabel">Couch</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="card flex-row"><img class="card-img-left example-card-img-responsive" width="50%" src="./images/house.jpg" />
                            <div class="card-body">
                                <div card text>
                                    <p>Modern one-bedroom house fully furnished.</p>
                                    <p>Seller: Jane Doe</p>
                                    <p>Price: Kshs 2.4M</p>
                                    <p>13 bids</p>
                                    <div class="quantity">
                                        Quantity: <input type="number" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="">
                                    </div>
                                    <br><br>
                                    <button type="button" class="btn ">Place bid</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn " data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

//laptop

    <div class="container">
        <!-- Button trigger modal -->
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#laptopModal">
            View details
        </button>
        <!-- Modal -->
        <div class="modal fade" id="laptopModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="exampleModalLabel">Couch</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="card flex-row"><img class="card-img-left example-card-img-responsive" width="50%" src="./images/lap.jpg" />
                            <div class="card-body">
                                <div card text>
                                    <p>Lenovo  grey laptop. 4GB RAM </p>
                                    <p>Seller: Techy</p>
                                    <p>Price: Kshs 30,000</p>
                                    <p>7 bids</p>
                                    <div class="quantity">
                                        Quantity: <input type="number" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="">
                                    </div>
                                    <br><br>
                                    <button type="button" class="btn ">Place bid</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn " data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
//ring

    <div class="container">
        <!-- Button trigger modal -->
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#ringModal">
            View details
        </button>

        <!-- Modal -->
        <div class="modal fade" id="ringModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="exampleModalLabel">Ring</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="card flex-row"><img class="card-img-left example-card-img-responsive" width="50%" src="./images/ring.webp" />
                            <div class="card-body">
                                <div card text>
                                    <p>Golden ring with details.</p>
                                    <p>Seller: Us</p>
                                    <p>Price: Kshs 30,00</p>
                                    <p>6 bids</p>
                                    <div class="quantity">
                                        Quantity: <input type="number" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="">
                                    </div>
                                    <br><br>
                                    <button type="button" class="btn ">Place bid</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn " data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
//rings2


    <div class="container">
        <!-- Button trigger modal -->
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#ringsModal">
            View details
        </button>

        <!-- Modal -->
        <div class="modal fade" id="ringsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="exampleModalLabel">Couch</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="card flex-row"><img class="card-img-left example-card-img-responsive" width="50%" src="./images/rings.webp" />
                            <div class="card-body">
                                <div card text>
                                    <p>A pair of golden rings.</p>
                                    <p>Seller: ABC furnitures</p>
                                    <p>Price: Kshs 300</p>
                                    <p>13 bids</p>
                                    <div class="quantity">
                                        Quantity: <input type="number" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="">
                                    </div>
                                    <br><br>
                                    <button type="button" class="btn ">Place bid</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn " data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
