<div class="container details">
    <div class="card flex-row"><img class="card-img-left example-card-img-responsive" src="./images/sofa-gba054b8df_640.jpg"/>
        <div class="card-body">
            <h3 class="card-title">Couch</h3>
            <p>Round single sofa with solid Fabric and is entirely in one color and has no pattern, design or writing on it. This design consists of grey textured fabric.</p>
            <p>Seller: ABC furniture</p>
            <p>Price: Kshs 300</p>
            <p>13 bids</p>
            <div class="quantity">
                Quantity: <input type="number" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="">
            </div>
            <br><br>
            <button type="button" class="btn btn-dark">Place bid</button>
        </div>
    </div>
</div>