#main {
	background: linear-gradient(144.78deg, #827397 6.58%, #E9D5DA 48.67%, #827397 94.42%);
	/*background: #F2BBBB;*/
}

h1 {
	width: 594px;
	height: 264px;
	left: 66px;
	top: 66px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 96px;
	line-height: 116px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #000000;
	border: 1px solid #000000;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#mainimg {
	width: 356px;
  height: 308px;
}

#loginbutton {
	width: 264px;
	height: 64px;
	background: linear-gradient(144.78deg, #827397 6.58%, #E9D5DA 48.67%, #827397 94.42%);
	border-radius: 25px;
}

#username {
	box-sizing: border-box;
	width: 350px;
	height: 50px;
	background: #FDFDFD;
	border: 1px solid #000000;
	border-radius: 25px;
}

#fullname {
	box-sizing: border-box;
	width: 350px;
	height: 50px;
	background: #FDFDFD;
	border: 1px solid #000000;
	border-radius: 25px;
}

#password {
	box-sizing: border-box;
	width: 350px;
	height: 50px;
	background: #FFFFFF;
	border: 1px solid #000000;
	border-radius: 25px;
}

#email {
	box-sizing: border-box;
	width: 350px;
	height: 50px;
	background: #FFFFFF;
	border: 1px solid #000000;
	border-radius: 25px;
}

#poster {
	width: 223px;
	height: 167px;
	transform: rotate(-36.52deg);
}

/*
#createform {
  align-items: center;
  text-align: center;
  width: 660px;
  height: 660px;
	background: linear-gradient(144.78deg, #827397 6.58%, #E9D5DA 48.67%, #827397 94.42%);
  border-radius: 10px;
}*/
