
{{#partial "content"}}
    <!-- About -->
    <div class="container story">
        <h1>About us</h1>
        <p>The company was started in 2022 by Team Auctioneers to make it possible to bid and auction online.It connects bidders from around the world to trusted auctioneers. It has a wide variety of items being auctioned . </p>
    </div>
    <div class="container-fluid mission">
        <div class="row ">
            <div class="col-md-4">
                <span><i class="fa-solid fa-bullseye-pointer fa-2xl"></i></span>
                <i class="fa-solid fa-shield  fa-2xl"></i>
                <br><br>
                <h3>Mission</h3>
                <p>To be the leading provider of auctioneer services.</p>
            </div>
            <div class="col-md-4">
                <span><i class="fa-solid fa-eye fa-2xl"></i></span>
                <br><br>
                <h3>Vision</h3>
                <p>To apply the highest standards of excellence in execution of our duties.</p>
            </div>
            <div class="col-md-4">
                <span><i class="fa-solid fa-gem fa-2xl"></i></span>
                <br><br>
                <h3>Core values</h3>
                <p>Integrity, honesty,respect and commitment</p>
            </div>
        </div>
    </div>
    <div class="container authenticity">
        <h1>Authenticity</h1>
        <p>All auctioned items undergo attentive examination by our specialists. We assure you that estimate prices are given based on this thorough research. Buyers are entitled to ask for a refund of the buyer’s price in case the item is found to be counterfeit within a year from the sale date</p>
    </div>
{{/partial}}
{{>layout.hbs}}