{{#partial "content"}}
    <div class="container">
        <h2>Modal</h2>
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Check details</button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="card flex-row"><img class="card-img-left example-card-img-responsive" width="50%" src="../images/sofa-gba054b8df_640.jpg" />
                            <div class="card-body">
                                <h3 class="card-title">Couch</h3>
                                <div card text>
                                    <p>Round single sofa with solid Fabric and is entirely in one color. This design consists of grey textured fabric.</p>
                                    <p>Seller: ABC furnitures</p>
                                    <p>Price: Kshs 300</p>
                                    <p>13 bids</p>
                                    <div class="quantity">
                                        Quantity: <input type="number" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="">
                                    </div>
                                    <br><br>
                                    <button type="button" class="btn btn-dark">Place bid</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/partial}}
{{> layout.hbs}}