{{#partial "content"}}
    <div class="row">
        <div class="col-md-6" id="maintitle">
            <h1>Online Auction</h1>

        </div>
        <div class="col-md-6"></div>
    </div>
{{/partial}}

{{> layout.hbs}}